Repository modelcontextprotocol/java-sdk, pull requests merged in 2025-04, with the labels that each got.

#112 feat(mcp): Custom context paths in HTTP Servlet SSE server transport
  mcp/src/main/java/io/modelcontextprotocol/server/transport/HttpServletSseServerTransportProvider.java
  mcp/src/test/java/io/modelcontextprotocol/server/transport/HttpServletSseServerCustomContextPathTests.java
  mcp/src/test/java/io/modelcontextprotocol/server/transport/HttpServletSseServerTransportProviderIntegrationTests.java
  mcp/src/test/java/io/modelcontextprotocol/server/transport/TomcatTestUtil.java
Labels: enhancement, server

#138 fix: Add null check for session in WebFluxSseServerTransportProvider
  mcp-spring/mcp-spring-webflux/src/main/java/io/modelcontextprotocol/server/transport/WebFluxSseServerTransportProvider.java
Labels: bug, server

#148 add access to server instructions
  mcp/src/main/java/io/modelcontextprotocol/client/McpAsyncClient.java
  mcp/src/main/java/io/modelcontextprotocol/client/McpSyncClient.java
Labels: enhancement, client

#173 feat(completion): fix the schema about CompleteResult
  mcp/src/main/java/io/modelcontextprotocol/spec/McpSchema.java
Labels: bug

#171 Fix method not found error msg for server
  mcp/src/main/java/io/modelcontextprotocol/spec/McpClientSession.java
  mcp/src/main/java/io/modelcontextprotocol/spec/McpServerSession.java
Labels: server

#208 feat: Add URI template support for MCP resources
  mcp-spring/mcp-spring-webflux/src/test/java/io/modelcontextprotocol/WebFluxSseIntegrationTests.java
  mcp/src/main/java/io/modelcontextprotocol/server/McpAsyncServer.java
  mcp/src/main/java/io/modelcontextprotocol/server/McpServer.java
  mcp/src/main/java/io/modelcontextprotocol/util/DeafaultMcpUriTemplateManagerFactory.java
  mcp/src/main/java/io/modelcontextprotocol/util/DefaultMcpUriTemplateManager.java
  mcp/src/main/java/io/modelcontextprotocol/util/McpUriTemplateManager.java
  mcp/src/main/java/io/modelcontextprotocol/util/McpUriTemplateManagerFactory.java
  mcp/src/test/java/io/modelcontextprotocol/McpUriTemplateManagerTests.java
Labels: enhancement
